* {margin: 0;
padding: 0;
box-sizing: border-box;}

body {background-color: rgb(31, 31, 31);
box-sizing: border-box;
margin-top: 100px;}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgb(20, 20, 20);
    height: 100px;
    padding: 30px 30px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.074);
}

header h1 {color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 200%;
transition: all 0.3s ease;}

header h1:hover {font-size: 220%;}

#navig {display: flex;
flex-direction: row;
gap: 25px;
margin: 10px 10px;}

#navig a {text-decoration: none;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
transition: all 0.3s ease;
}

#navig a:hover {
    color: rgb(175, 175, 175);
}

.content {display: flex;
flex-direction: column;}

.content h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    margin: 30px auto;
}

#katline {width: 20%;
margin: auto;}

.katalog {display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 20px;
padding: 20px;
}

.book-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.bookimg {
    width: 100%; /* Занимает всю ширину карточки */
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}





